
       
    
        <link rel="stylesheet" href="/css/goapp.css">
   

    
        <div class="container goapp">
            <div class="row">
              <div class="col-md-6">
                <div class="content">
                    <div class="info" id="info">
                        
                        <p>احجز موعدا الأن من منزلك في دقائق قليلة</p>
                    <a href="/appointment" class="info-btn" id="btn">اختر خدمة</a>
                </div>
                </div>
                  </div>
                  <div class="col-md-4">
                  <img  id="app" src="/images/app.png">
                </div>
                  </div>
                  </div>
            
    
    
    
</html>