<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/headerAdmin.css">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="overlay"></div>
<div class="all">
  <div class="header">
    <div class="navbar">
  <input type="checkbox" id="check">
  <div class="logo">
    <a href="#"><h1><img  class="logo" src="/images/logoDr.png"></h1></a>
  </div>
      
  <div class="menu-btn">
    <label for="check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="menu-item">
    <a href="/dashboard">الرئيسية</a>
    <a href="/newapp">اخر المواعيد</a>
    <a href="/confirmedapp">المواعيد المؤكدة</a>
   
  </div>
</div>
     
 

    

</div>
  