<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    </head>
    <body>
        <section>
            <%- include('header'); -%>
            <div class="content">
                <div class="info">
                    <h2>Cabinet Dentaire<br><span>Dr.BOUBERTA</span></h2>
                <p>طب وتجميل الأسنان أولاد سويسي الطاهير</p>
                <a href="/appointment" class="info-btn">احجز موعدا</a>
            </div>
            </div>
            <!--------------<div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>-------->
        </section>
    </body>
    <%- include('footer'); -%>
    
</html>