<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png" />
        <%- include('header'); -%>
        <title>عيادة الدكتور بوبرطة</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/cards.css">
        <link rel="stylesheet" href="/css/goapp.css">
   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    </head>
    <body>
        <section class="shead">
           
            <div class="content">
                <div class="info" id="info">
                    <h2>Cabinet Dentaire<br><span>Dr.BOUBERTA</span></h2>
                <p>طب وتجميل الأسنان أولاد سويسي الطاهير</p>
                <a href="/appointment" class="info-btn" id="btn">احجز موعدا</a>
            </div>
            </div>
          
        </section>
        <section id="services">
            <div class="py-5">
                <div class="container">
                  <div class="row hidden-md-up">
                    <div class="col-md-4">
                    <h3 style=" margin-top:200px;">خدماتنا</h3>
                    </div>
                    <div class="col-md-4">
                      <h4 class="card-title">تبييض</h4>
                        <div class="card-block" id="whiting" style="height: 400px;">
                      
                      
                        
                      </div>
                    </div>
                    <div class="col-md-4">
                    
                        <div class="card-block" id="fa7s" style="height: 400px; margin-top: 50px;"> 
                          <h4 class="card-title">تركيب أسنان اصطناعية</h4>
                         
                       
                      </div>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-md-4" style="height: 400px; margin-top:-50px;">
                      
                        <div class="card-block" id="seramic"  style="height: 400px">
                          <h4 class="card-title">ترميم</h4>
                         
                         
                      </div>
                    </div>
                    <div class="col-md-4">
                      
                        <div class="card-block" id="dtatrage" style="height: 400px">
                          <h4 class="card-title">تنظيف</h4>
                         
                         
                      </div>
                    </div>
                    <div class="col-md-4">
                      
                        <div class="card-block"  id="ta9m" style="height: 400px; margin-top: 50px;">
                          <h4 class="card-title">تركيب طقم أسنان</h4>
                         
                          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           </section>
           <h3>قم بالحجز</h3>
           <section id="service">
            <div class="container goapp">
                <div class="row h-50">
                  <div class="col">
                    <div class="content">
                        <div class="info" id="info">
                            
                            <p>احجز موعدا الأن من منزلك في دقائق قليلة</p>
                        <a href="/appointment" class="info-btn" id="btn">اختر خدمة</a>
                    </div>
                    </div>
                      </div>
                      <div class="col-md-4">
                      <img  id="app" src="/images/app.png">
                    </div>
                      </div>
                      </div>
           </section>
      
    </body>
    <%- include('footer2'); -%>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/scrolljs.js"></script>
</html>