<html>
    <head>
<title>خدماتنا</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
<style type="text/css">
h3{
    position:relative;
    margin-top:0px;
}
.carousel{
   height:500px; 
   display: inline-block;
   
}

.carousel .carousel-item{
    width:300px;
    height: 400px;

}
img{
    height:400px
}
p{
    text-align: center;
}
.element {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #ce8888;
  
}
.container {
  display: flex;
}

.item {
  
  flex-basis:50%;
  height: 100px;
  margin: 5px;
  
}
h3{
    margin-top:40%;
    margin-left: 50%;
    color:#226A80;
}

    </style>
</head>
<div class="container">
    <div class="item">
        <div class="carousel">
            <a href="#one" class="carousel-item">
              <p>ترميم أسنان</p>
                <img src="/images/seramicavantetapres.jpg"> 
            </a>
            <a href="#two" class="carousel-item">
                <p>تركيب جسر سيراميك بعد المعالجات اللبية  و ترميم الاسنان</p>
                <img src="/images/dtatrage.jpeg" >
            </a>
            <a href="#three" class="carousel-item">
                <p>تركيب طقم اسنان</p>
                <img src="/images/ta9m.jpeg">
            </a>
           
        </div>
    </div>
    <div class="item">
        <h3>خدماتنا</h3>
    </div>
  </div>
        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel').carousel({
                indicators:true
            })
        })
        </script>
       
   
</html>