
 .cardb{
  background-color: rgba(114,223,255,0.8);
  background: rgb(230, 228, 228);
box-shadow: 0 8px 8px -4px lightblue;

      border-top-left-radius: 100px;
      border-bottom-right-radius:100px
}

h3{
  margin-left: 200px;
  color:#226A80;
    font-size:55px;
    text-transformation:uppercase;
    font-weight:800;
    letter-spacing:2px;
    line-height:60px;
}
h4{
  color:#e11896;
  fontst-size:50px;
    font-weight:600;
}
.footer-basic {
padding:40px 0;
background-color:#ffffff;
color:#4b4c4d;
}
.py-5{
  position:relative;
  margin-top:10%;
}
.footer-basic ul {
padding:0;
list-style:none;
text-align:center;
font-size:18px;
line-height:1.6;
margin-bottom:0;
}
.footer-basic {
  background-color: rgb(143, 177, 241);
}

.footer-basic li {
padding:0 10px;
}

.footer-basic ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.footer-basic ul a:hover {
opacity:1;
}

.footer-basic .social {
text-align:center;
padding-bottom:25px;
}

.footer-basic .social > a {
font-size:24px;
width:40px;
height:40px;
line-height:40px;
display:inline-block;
text-align:center;
border-radius:50%;
border:1px solid #ccc;
margin:0 8px;
color:inherit;
opacity:0.75;
}

.footer-basic .social > a:hover {
opacity:0.9;
}
